/* Modern-looking scrollbar for webkit-based browsers */
.responsecard::-webkit-scrollbar {
  width: 8px; /* adjust as needed */
  height: 8px; /* adjust as needed */
}
.responsecard::-webkit-scrollbar-track {
  background: transparent;
}

.responsecard::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Modern-looking scrollbar for Firefox */
.responsecard::-moz-scrollbar {
  width: 8px; /* adjust as needed */
  height: 8px; /* adjust as needed */
}

.responsecard::-moz-scrollbar-track {
  background: transparent;
}

.responsecard::-moz-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
